In [1]:

# Importing essential libraries
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Selecting 10 liquid stocks from different sectors (NSE)
tickers = [
    'INFY.NS', 'TCS.NS', 'RELIANCE.NS', 'HDFCBANK.NS',
    'ITC.NS', 'LT.NS', 'HINDUNILVR.NS', 'SBIN.NS',
    'BHARTIARTL.NS', 'MARUTI.NS'
]

# Print tickers for confirmation
print("Selected tickers:", tickers)

Selected tickers: ['INFY.NS', 'TCS.NS', 'RELIANCE.NS', 'HDFCBANK.NS', 'ITC.NS', 'LT.NS', 'HINDUNILVR.NS', 'SBIN.NS', 'BHARTIARTL.NS', 'MARUTI.NS']

In [3]:
# Downloading 10 years of historical daily data correctly for adjusted close prices
data = yf.download(tickers, start='2015-01-01', end='2025-01-01', auto_adjust=True)

# 'auto_adjust=True' means downloaded data is already adjusted for splits/dividends, so we can directly use the 'Close' column and the result will already be a DataFrame of Close prices

# Displaying the first few rows
data.head()

[*********************100%***********************]  10 of 10 completed

Price              Close                                                    \
Ticker     BHARTIARTL.NS HDFCBANK.NS HINDUNILVR.NS     INFY.NS      ITC.NS
Date
2015-01-01    308.073547  217.235367    638.149475  367.770782  173.042160
2015-01-02    309.898743  220.258667    636.045837  374.998108  173.584198
2015-01-05    303.022461  218.399063    639.705811  371.775665  174.267609
2015-01-06    300.645477  214.999207    651.821899  364.008148  169.790146
2015-01-07    301.367065  215.626724    674.707520  365.749786  166.632355

Price                                                                     ...  \
Ticker           LT.NS    MARUTI.NS RELIANCE.NS     SBIN.NS       TCS.NS  ...
Date                                                                      ...
2015-01-01  848.333435  3032.035156  189.999817  279.880524  1006.856262  ...
2015-01-02  866.226257  3049.143555  189.496933  280.994751  1020.265198  ...
2015-01-05  878.277100  3129.192627  187.421265  278.766357  1004.760498  ...
2015-01-06  848.982422  3081.498779  178.915237  267.312653   967.718140  ...
2015-01-07  846.950378  3120.071289  182.809814  267.535522   956.287415  ...

Price             Volume                                               \
Ticker     BHARTIARTL.NS HDFCBANK.NS HINDUNILVR.NS  INFY.NS    ITC.NS
Date
2015-01-01       2460188     3544940        372132  2002764   2538978
2015-01-02       2795887     5900384       1207322  6778320   6599676
2015-01-05       1605267     4796000        849252  9937024   8238987
2015-01-06       3916948     8219680       2738679  9667316  13093039
2015-01-07       4899318     5746112       3744143  7249916  11960580

Price
Ticker        LT.NS MARUTI.NS RELIANCE.NS   SBIN.NS   TCS.NS
Date
2015-01-01   674298    299232     2963643   6138488   366830
2015-01-02  1936584    233924     7331366   9935094   925740
2015-01-05  2176527    536747    10103941   9136716  1754242
2015-01-06  3048025    422743    18627980  15329257  2423784
2015-01-07  2063635    369241    20720312  15046745  2636332

[5 rows x 50 columns]

In [4]:
# Computing returns
avg_returns = ((data["Close"] - data.shift(1)["Close"])/data.shift(1)["Close"]).dropna()

# Displaying first few rows of returns
avg_returns.head()

Ticker,BHARTIARTL.NS,HDFCBANK.NS,HINDUNILVR.NS,INFY.NS,ITC.NS,LT.NS,MARUTI.NS,RELIANCE.NS,SBIN.NS,TCS.NS
Date,,,,,,,,,,
2015-01-02,0.005925,0.013917,-0.003296,0.019652,0.003132,0.021092,0.005643,-0.002647,0.003981,0.013318
2015-01-05,-0.022189,-0.008443,0.005754,-0.008593,0.003937,0.013912,0.026253,-0.010954,-0.007930,-0.015197
2015-01-06,-0.007844,-0.015567,0.018940,-0.020893,-0.025693,-0.033355,-0.015242,-0.045385,-0.041087,-0.036867
2015-01-07,0.002400,0.002919,0.035110,0.004785,-0.018598,-0.002394,0.012517,0.021768,0.000834,-0.011812
2015-01-08,0.017324,0.021005,0.018893,0.005042,0.025032,0.006365,0.010981,-0.014339,0.015659,0.010795

In [5]:
# Defining periods
in_sample = avg_returns.loc['2015-01-01':'2020-12-31']
out_sample = avg_returns.loc['2021-01-01':'2022-12-31']

# Printing shapes to confirm
print("In-sample data shape:", in_sample.shape)
print("Out-of-sample data shape:", out_sample.shape)

# Checking the time ranges
print("\nIn-sample range:", in_sample.index.min(), "to", in_sample.index.max())
print("Out-of-sample range:", out_sample.index.min(), "to", out_sample.index.max())

In-sample data shape: (1479, 10)
Out-of-sample data shape: (496, 10)

In-sample range: 2015-01-02 00:00:00 to 2020-12-31 00:00:00
Out-of-sample range: 2021-01-01 00:00:00 to 2022-12-30 00:00:00

In [6]:
# Mean vector (daily)
mean_daily = in_sample.mean()

# Covariance matrix (daily)
cov_daily = in_sample.cov()
print("cov_daily", cov_daily.shape)
print(cov_daily)

# Correlation matrix
corr_matrix = in_sample.corr()

#  Annualizing (because these are daily logâ€‘returns)
#  Convention: 252 trading days per year
mean_annual = mean_daily * 252
cov_annual = cov_daily * 252
std_annual = np.sqrt(np.diag(cov_annual))

print(" Mean return vector (annualized):")
display(mean_annual.to_frame("Expected Annual Return"))

print("\n Covariance matrix (annualized):")
display(cov_annual)

print("\n Correlation matrix:")
display(corr_matrix)

cov_daily (10, 10)
Ticker         BHARTIARTL.NS  HDFCBANK.NS  HINDUNILVR.NS   INFY.NS    ITC.NS  \
Ticker
BHARTIARTL.NS       0.000454     0.000086       0.000069  0.000066  0.000082
HDFCBANK.NS         0.000086     0.000208       0.000066  0.000069  0.000079
HINDUNILVR.NS       0.000069     0.000066       0.000227  0.000061  0.000060
INFY.NS             0.000066     0.000069       0.000061  0.000315  0.000047
ITC.NS              0.000082     0.000079       0.000060  0.000047  0.000302
LT.NS               0.000109     0.000133       0.000080  0.000070  0.000099
MARUTI.NS           0.000107     0.000127       0.000096  0.000074  0.000082
RELIANCE.NS         0.000108     0.000114       0.000085  0.000083  0.000075
SBIN.NS             0.000138     0.000143       0.000078  0.000082  0.000126
TCS.NS              0.000050     0.000057       0.000054  0.000145  0.000051

Ticker            LT.NS  MARUTI.NS  RELIANCE.NS   SBIN.NS    TCS.NS
Ticker
BHARTIARTL.NS  0.000109   0.000107     0.000108  0.000138  0.000050
HDFCBANK.NS    0.000133   0.000127     0.000114  0.000143  0.000057
HINDUNILVR.NS  0.000080   0.000096     0.000085  0.000078  0.000054
INFY.NS        0.000070   0.000074     0.000083  0.000082  0.000145
ITC.NS         0.000099   0.000082     0.000075  0.000126  0.000051
LT.NS          0.000323   0.000160     0.000119  0.000222  0.000057
MARUTI.NS      0.000160   0.000360     0.000148  0.000181  0.000073
RELIANCE.NS    0.000119   0.000148     0.000365  0.000153  0.000079
SBIN.NS        0.000222   0.000181     0.000153  0.000552  0.000063
TCS.NS         0.000057   0.000073     0.000079  0.000063  0.000250
 Mean return vector (annualized):

               Expected Annual Return
Ticker
BHARTIARTL.NS                0.135470
HDFCBANK.NS                  0.220776
HINDUNILVR.NS                0.240785
INFY.NS                      0.227460
ITC.NS                       0.036437
LT.NS                        0.102748
MARUTI.NS                    0.195913
RELIANCE.NS                  0.310986
SBIN.NS                      0.051838
TCS.NS                       0.190293

 Covariance matrix (annualized):

Ticker,BHARTIARTL.NS,HDFCBANK.NS,HINDUNILVR.NS,INFY.NS,ITC.NS,LT.NS,MARUTI.NS,RELIANCE.NS,SBIN.NS,TCS.NS
Ticker,,,,,,,,,,
BHARTIARTL.NS,0.114355,0.021743,0.017328,0.016730,0.020596,0.027496,0.026883,0.027311,0.034705,0.012702
HDFCBANK.NS,0.021743,0.052350,0.016517,0.017380,0.019843,0.033562,0.031994,0.028749,0.036121,0.014320
HINDUNILVR.NS,0.017328,0.016517,0.057186,0.015332,0.015036,0.020135,0.024264,0.021488,0.019781,0.013549
INFY.NS,0.016730,0.017380,0.015332,0.079378,0.011935,0.017738,0.018543,0.020882,0.020755,0.036505
ITC.NS,0.020596,0.019843,0.015036,0.011935,0.076028,0.024903,0.020609,0.018850,0.031812,0.012958
LT.NS,0.027496,0.033562,0.020135,0.017738,0.024903,0.081296,0.040220,0.029974,0.055832,0.014393
MARUTI.NS,0.026883,0.031994,0.024264,0.018543,0.020609,0.040220,0.090812,0.037258,0.045512,0.018272
RELIANCE.NS,0.027311,0.028749,0.021488,0.020882,0.018850,0.029974,0.037258,0.092024,0.038455,0.019852
SBIN.NS,0.034705,0.036121,0.019781,0.020755,0.031812,0.055832,0.045512,0.038455,0.139171,0.015847
TCS.NS,0.012702,0.014320,0.013549,0.036505,0.012958,0.014393,0.018272,0.019852,0.015847,0.062899

 Correlation matrix:

Ticker,BHARTIARTL.NS,HDFCBANK.NS,HINDUNILVR.NS,INFY.NS,ITC.NS,LT.NS,MARUTI.NS,RELIANCE.NS,SBIN.NS,TCS.NS
Ticker,,,,,,,,,,
BHARTIARTL.NS,1.000000,0.281015,0.214280,0.175601,0.220881,0.285174,0.263806,0.266233,0.275096,0.149765
HDFCBANK.NS,0.281015,1.000000,0.301876,0.269619,0.314537,0.514464,0.464021,0.414203,0.423178,0.249547
HINDUNILVR.NS,0.214280,0.301876,1.000000,0.227568,0.228040,0.295313,0.336699,0.296217,0.221733,0.225912
INFY.NS,0.175601,0.269619,0.227568,1.000000,0.153634,0.220807,0.218401,0.244326,0.197465,0.516622
ITC.NS,0.220881,0.314537,0.228040,0.153634,1.000000,0.316766,0.248023,0.225364,0.309264,0.187380
LT.NS,0.285174,0.514464,0.295313,0.220807,0.316766,1.000000,0.468096,0.346543,0.524898,0.201280
MARUTI.NS,0.263806,0.464021,0.336699,0.218401,0.248023,0.468096,1.000000,0.407566,0.404841,0.241769
RELIANCE.NS,0.266233,0.414203,0.296217,0.244326,0.225364,0.346543,0.407566,1.000000,0.339802,0.260940
SBIN.NS,0.275096,0.423178,0.221733,0.197465,0.309264,0.524898,0.404841,0.339802,1.000000,0.169374
TCS.NS,0.149765,0.249547,0.225912,0.516622,0.187380,0.201280,0.241769,0.260940,0.169374,1.000000

In [15]:

import cvxpy as cp
import itertools

tickers_list = list(cov_annual.columns)
results = []

ind = {}
for i in range(10):
    ind[tickers[i]] = i


def optimise(cov_annual, subset):
    w = cp.Variable(len(subset))
    subset = list(subset)
    sub_cov = cov_annual.loc[subset, subset].to_numpy()
    one = np.ones(len(subset))

    objective = cp.Minimize(w.T@sub_cov@w)
    constraints = [w[i] >= 0 for i in range(len(subset))]
    constraints.append(w.T@one == 1)

    prob = cp.Problem(objective, constraints)

    return prob.solve(), w.value

def subset_opt(cov_annual,optimise):
    subset_vars = []
    opt_wts = []
    for k in range(1, 11):
        combs = list(itertools.combinations(tickers_list, k))
        print(f"Computing {len(combs)} combinations for k = {k} ...")
        
        min_var = np.inf
        weights = np.zeros(k)
        opt_comb = combs[0]
        for comb in combs:
            var, w = optimise(cov_annual, comb)
            if min_var > var:
                min_var = var
                weights = w
                opt_comb = comb
                
        print(min_var, k, opt_comb)
        w_extd = np.zeros(10)
        for j in range(k):
            w_extd[ind[opt_comb[j]]] = weights[j]
        
        subset_vars.append(min_var)
        opt_wts.append(w_extd)

    return subset_vars, opt_wts

subset_vars, opt_wts = subset_opt(cov_annual, optimise)

print(subset_vars)
print(opt_wts[-1])
print(opt_wts)

Computing 10 combinations for k = 1 ...
0.05235008149004351 1 ('HDFCBANK.NS',)
Computing 45 combinations for k = 2 ...
0.035565994277785555 2 ('HDFCBANK.NS', 'HINDUNILVR.NS')
Computing 120 combinations for k = 3 ...
0.028947412718695054 3 ('HDFCBANK.NS', 'HINDUNILVR.NS', 'TCS.NS')
Computing 210 combinations for k = 4 ...
0.026676956974062808 4 ('HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 252 combinations for k = 5 ...
0.025943607148440656 5 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 210 combinations for k = 6 ...
0.02546474732093171 6 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'TCS.NS')
Computing 120 combinations for k = 7 ...
0.025366810046175643 7 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 45 combinations for k = 8 ...
0.025295885071557424 8 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'LT.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 10 combinations for k = 9 ...
0.025292149486311817 9 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'LT.NS', 'MARUTI.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 1 combinations for k = 10 ...
0.025292149486311817 10 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'LT.NS', 'MARUTI.NS', 'RELIANCE.NS', 'SBIN.NS', 'TCS.NS')
[np.float64(0.05235008149004351), np.float64(0.035565994277785555), np.float64(0.028947412718695054), np.float64(0.026676956974062808), np.float64(0.025943607148440656), np.float64(0.02546474732093171), np.float64(0.025366810046175643), np.float64(0.025295885071557424), np.float64(0.025292149486311817), np.float64(0.025292149486311817)]
[8.76729498e-02 1.91546030e-01 3.24736067e-02 1.99810995e-01
 1.48750680e-01 3.40205982e-02 2.27816066e-01 7.42022145e-24
 6.99644628e-02 7.94461139e-03]
[array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.]), array([0.        , 0.        , 0.        , 0.53160391, 0.        ,
       0.        , 0.46839609, 0.        , 0.        , 0.        ]), array([0.        , 0.30631207, 0.        , 0.36568112, 0.        ,
       0.        , 0.32800681, 0.        , 0.        , 0.        ]), array([0.        , 0.26371913, 0.        , 0.28322766, 0.17751997,
       0.        , 0.27553323, 0.        , 0.        , 0.        ]), array([0.        , 0.25058686, 0.        , 0.2513523 , 0.15991182,
       0.        , 0.25422742, 0.        , 0.08392159, 0.        ]), array([0.09178919, 0.19832408, 0.        , 0.23372247, 0.1568793 ,
       0.        , 0.24132096, 0.        , 0.077964  , 0.        ]), array([0.08925204, 0.19286923, 0.03738999, 0.21883849, 0.15419136,
       0.        , 0.23385933, 0.        , 0.07359956, 0.        ]), array([0.08767194, 0.19215106, 0.03383768, 0.20189669, 0.14895096,
       0.03600635, 0.22912124, 0.        , 0.0703641 , 0.        ]), array([0.08767295, 0.19154603, 0.03247361, 0.199811  , 0.14875068,
       0.0340206 , 0.22781607, 0.        , 0.06996446, 0.00794461]), array([8.76729498e-02, 1.91546030e-01, 3.24736067e-02, 1.99810995e-01,
       1.48750680e-01, 3.40205982e-02, 2.27816066e-01, 7.42022145e-24,
       6.99644628e-02, 7.94461139e-03])]

In [ ]:
#out-sample analysis

In [16]:
mean_daily_out = out_sample.mean()

# Covariance matrix (daily)
cov_daily_out = out_sample.cov()
print("cov_daily_out", cov_daily_out.shape)
print(cov_daily_out)

# Correlation matrix
corr_matrix_out = out_sample.corr()

#  Annualizing (because these are daily logâ€‘returns)
#  Convention: 252 trading days per year
mean_annual_out = mean_daily_out * 252
cov_annual_out = cov_daily_out * 252
std_annual_out = np.sqrt(np.diag(cov_annual_out))

print(" Mean return vector (annualized):")
display(mean_annual_out.to_frame("Expected Annual Return"))

print("\n Covariance matrix (annualized):")
display(cov_annual_out)

print("\n Correlation matrix:")
display(corr_matrix_out)

cov_daily_out (10, 10)
Ticker         BHARTIARTL.NS  HDFCBANK.NS  HINDUNILVR.NS   INFY.NS    ITC.NS  \
Ticker
BHARTIARTL.NS       0.000265     0.000084       0.000035  0.000066  0.000062
HDFCBANK.NS         0.000084     0.000244       0.000056  0.000081  0.000065
HINDUNILVR.NS       0.000035     0.000056       0.000200  0.000056  0.000053
INFY.NS             0.000066     0.000081       0.000056  0.000239  0.000050
ITC.NS              0.000062     0.000065       0.000053  0.000050  0.000217
LT.NS               0.000093     0.000112       0.000050  0.000111  0.000081
MARUTI.NS           0.000087     0.000096       0.000076  0.000059  0.000061
RELIANCE.NS         0.000077     0.000094       0.000048  0.000079  0.000077
SBIN.NS             0.000102     0.000143       0.000040  0.000073  0.000121
TCS.NS              0.000062     0.000068       0.000063  0.000151  0.000039

Ticker            LT.NS  MARUTI.NS  RELIANCE.NS   SBIN.NS    TCS.NS
Ticker
BHARTIARTL.NS  0.000093   0.000087     0.000077  0.000102  0.000062
HDFCBANK.NS    0.000112   0.000096     0.000094  0.000143  0.000068
HINDUNILVR.NS  0.000050   0.000076     0.000048  0.000040  0.000063
INFY.NS        0.000111   0.000059     0.000079  0.000073  0.000151
ITC.NS         0.000081   0.000061     0.000077  0.000121  0.000039
LT.NS          0.000253   0.000109     0.000105  0.000150  0.000090
MARUTI.NS      0.000109   0.000300     0.000080  0.000128  0.000057
RELIANCE.NS    0.000105   0.000080     0.000273  0.000120  0.000073
SBIN.NS        0.000150   0.000128     0.000120  0.000362  0.000061
TCS.NS         0.000090   0.000057     0.000073  0.000061  0.000196
 Mean return vector (annualized):

               Expected Annual Return
Ticker
BHARTIARTL.NS                0.277867
HDFCBANK.NS                  0.102317
HINDUNILVR.NS                0.073702
INFY.NS                      0.144007
ITC.NS                       0.311059
LT.NS                        0.288993
MARUTI.NS                    0.091448
RELIANCE.NS                  0.164353
SBIN.NS                      0.465906
TCS.NS                       0.102748

 Covariance matrix (annualized):

Ticker,BHARTIARTL.NS,HDFCBANK.NS,HINDUNILVR.NS,INFY.NS,ITC.NS,LT.NS,MARUTI.NS,RELIANCE.NS,SBIN.NS,TCS.NS
Ticker,,,,,,,,,,
BHARTIARTL.NS,0.066683,0.021117,0.008753,0.016730,0.015578,0.023429,0.021918,0.019512,0.025652,0.015635
HDFCBANK.NS,0.021117,0.061582,0.014002,0.020521,0.016376,0.028323,0.024216,0.023723,0.036151,0.017124
HINDUNILVR.NS,0.008753,0.014002,0.050395,0.013999,0.013281,0.012614,0.019071,0.012180,0.010072,0.015815
INFY.NS,0.016730,0.020521,0.013999,0.060238,0.012542,0.028062,0.014925,0.019915,0.018314,0.037968
ITC.NS,0.015578,0.016376,0.013281,0.012542,0.054712,0.020393,0.015453,0.019304,0.030425,0.009725
LT.NS,0.023429,0.028323,0.012614,0.028062,0.020393,0.063635,0.027393,0.026474,0.037713,0.022778
MARUTI.NS,0.021918,0.024216,0.019071,0.014925,0.015453,0.027393,0.075652,0.020183,0.032170,0.014367
RELIANCE.NS,0.019512,0.023723,0.012180,0.019915,0.019304,0.026474,0.020183,0.068741,0.030173,0.018298
SBIN.NS,0.025652,0.036151,0.010072,0.018314,0.030425,0.037713,0.032170,0.030173,0.091105,0.015353
TCS.NS,0.015635,0.017124,0.015815,0.037968,0.009725,0.022778,0.014367,0.018298,0.015353,0.049418

 Correlation matrix:

Ticker,BHARTIARTL.NS,HDFCBANK.NS,HINDUNILVR.NS,INFY.NS,ITC.NS,LT.NS,MARUTI.NS,RELIANCE.NS,SBIN.NS,TCS.NS
Ticker,,,,,,,,,,
BHARTIARTL.NS,1.000000,0.329537,0.150992,0.263963,0.257910,0.359672,0.308587,0.288193,0.329107,0.272369
HDFCBANK.NS,0.329537,1.000000,0.251353,0.336923,0.282129,0.452447,0.354786,0.364621,0.482634,0.310403
HINDUNILVR.NS,0.150992,0.251353,1.000000,0.254087,0.252927,0.222740,0.308866,0.206943,0.148639,0.316918
INFY.NS,0.263963,0.336923,0.254087,1.000000,0.218470,0.453252,0.221086,0.309481,0.247213,0.695887
ITC.NS,0.257910,0.282129,0.252927,0.218470,1.000000,0.345612,0.240191,0.314769,0.430949,0.187021
LT.NS,0.359672,0.452447,0.222740,0.453252,0.345612,1.000000,0.394810,0.400288,0.495298,0.406184
MARUTI.NS,0.308587,0.354786,0.308866,0.221086,0.240191,0.394810,1.000000,0.279875,0.387495,0.234978
RELIANCE.NS,0.288193,0.364621,0.206943,0.309481,0.314769,0.400288,0.279875,1.000000,0.381275,0.313952
SBIN.NS,0.329107,0.482634,0.148639,0.247213,0.430949,0.495298,0.387495,0.381275,1.000000,0.228815
TCS.NS,0.272369,0.310403,0.316918,0.695887,0.187021,0.406184,0.234978,0.313952,0.228815,1.000000

In [17]:
#Optimal returns for stocks
optimal_returns = []
for k in range(1,11):
    optimal_returns.append((k, mean_annual_out@opt_wts[k-1]))

print(optimal_returns)

[(1, np.float64(0.1440074313410125)), (2, np.float64(0.11938878981572593)), (3, np.float64(0.11399724959207089)), (4, np.float64(0.1481858875664411)), (5, np.float64(0.1739259422723566)), (6, np.float64(0.18664570875755263)), (7, np.float64(0.1824430238117669)), (8, np.float64(0.18606373651423605)), (9, np.float64(0.18547580517693094)), (10, np.float64(0.18547580517693094))]

In [18]:
import math
# Sharpe Ratios
# For in-sample period, average risk free rate (India) was approximately 7.2%
# For out-sample period, average risk free rate (India) was approximately 6.7%

for k in range(1,11):
    print("In-sample) Sharpe ratio for", k, "stocks (at optimality) is", (optimal_returns[k-1][1] - 0.072)/math.sqrt(subset_vars[k-1]))

In-sample) Sharpe ratio for 1 stocks (at optimality) is 0.31471586606438556
In-sample) Sharpe ratio for 2 stocks (at optimality) is 0.25128012589058296
In-sample) Sharpe ratio for 3 stocks (at optimality) is 0.2468402472359694
In-sample) Sharpe ratio for 4 stocks (at optimality) is 0.46645138537507574
In-sample) Sharpe ratio for 5 stocks (at optimality) is 0.6328044948966774
In-sample) Sharpe ratio for 6 stocks (at optimality) is 0.7184360525138613
In-sample) Sharpe ratio for 7 stocks (at optimality) is 0.6934343646284297
In-sample) Sharpe ratio for 8 stocks (at optimality) is 0.7171708920208533
In-sample) Sharpe ratio for 9 stocks (at optimality) is 0.7135269859546998
In-sample) Sharpe ratio for 10 stocks (at optimality) is 0.7135269859546998

In [19]:
vals = []
for k in range(1,11):
    vals.append(opt_wts[k-1].T @ cov_annual_out @ opt_wts[k-1])

for j in range(1,11):
    print("Out-sample) Sharpe ratio for", j, "stocks (at optimality) is", (optimal_returns[j-1][1] - 0.067)/math.sqrt(vals[j-1]))

Out-sample) Sharpe ratio for 1 stocks (at optimality) is 0.3137601424776722
Out-sample) Sharpe ratio for 2 stocks (at optimality) is 0.25856067630527085
Out-sample) Sharpe ratio for 3 stocks (at optimality) is 0.2511528738642214
Out-sample) Sharpe ratio for 4 stocks (at optimality) is 0.47027382602157036
Out-sample) Sharpe ratio for 5 stocks (at optimality) is 0.6148794248480445
Out-sample) Sharpe ratio for 6 stocks (at optimality) is 0.7073960597129275
Out-sample) Sharpe ratio for 7 stocks (at optimality) is 0.6949456018285245
Out-sample) Sharpe ratio for 8 stocks (at optimality) is 0.7154632274347267
Out-sample) Sharpe ratio for 9 stocks (at optimality) is 0.7132908473042607
Out-sample) Sharpe ratio for 10 stocks (at optimality) is 0.7132908473042607

In [ ]:
# Max Drawdown for out-sample period
#TODOOOOO

In [38]:
#PART B

P1 = avg_returns.loc['2015-01-01':'2019-12-31'].dropna()
P2 = avg_returns.loc['2020-01-01':'2021-12-31'].dropna()
out_sample_B = avg_returns.loc['2022-01-01':'2023-12-31'].dropna()

mean_P1 = P1.mean()
mean_P2 = P2.mean()
mean_out_B = out_sample_B.mean()

# Covariance matrix (daily)
cov_P1 = P1.cov()
print("cov_P1", cov_P1.shape)
print(cov_P1)

cov_P2 = P2.cov()
print("cov_P2", cov_P2.shape)
print(cov_P2)

cov_out_B = out_sample_B.cov()

# Correlation matrix
corr_matrix = in_sample.corr()

#  Annualizing (because these are daily logâ€‘returns)
#  Convention: 252 trading days per year
mean_P1_annual = mean_P1 * 252
cov_P1_annual = cov_P1 * 252

mean_P2_annual = mean_P2 * 252
cov_P2_annual = cov_P2 * 252

mean_out_B_annual = mean_out_B * 252
cov_out_B_annual = cov_out_B * 252

cov_P1 (10, 10)
Ticker         BHARTIARTL.NS  HDFCBANK.NS  HINDUNILVR.NS   INFY.NS    ITC.NS  \
Ticker
BHARTIARTL.NS       0.000396     0.000043       0.000040  0.000032  0.000050
HDFCBANK.NS         0.000043     0.000114       0.000043  0.000020  0.000045
HINDUNILVR.NS       0.000040     0.000043       0.000177  0.000021  0.000041
INFY.NS             0.000032     0.000020       0.000021  0.000250  0.000017
ITC.NS              0.000050     0.000045       0.000041  0.000017  0.000236
LT.NS               0.000076     0.000075       0.000053  0.000032  0.000063
MARUTI.NS           0.000064     0.000066       0.000062  0.000023  0.000056
RELIANCE.NS         0.000077     0.000054       0.000040  0.000031  0.000044
SBIN.NS             0.000098     0.000070       0.000053  0.000036  0.000076
TCS.NS              0.000019     0.000020       0.000026  0.000092  0.000024

Ticker            LT.NS  MARUTI.NS  RELIANCE.NS   SBIN.NS    TCS.NS
Ticker
BHARTIARTL.NS  0.000076   0.000064     0.000077  0.000098  0.000019
HDFCBANK.NS    0.000075   0.000066     0.000054  0.000070  0.000020
HINDUNILVR.NS  0.000053   0.000062     0.000040  0.000053  0.000026
INFY.NS        0.000032   0.000023     0.000031  0.000036  0.000092
ITC.NS         0.000063   0.000056     0.000044  0.000076  0.000024
LT.NS          0.000253   0.000106     0.000078  0.000165  0.000031
MARUTI.NS      0.000106   0.000255     0.000075  0.000121  0.000025
RELIANCE.NS    0.000078   0.000075     0.000262  0.000100  0.000028
SBIN.NS        0.000165   0.000121     0.000100  0.000478  0.000022
TCS.NS         0.000031   0.000025     0.000028  0.000022  0.000202
cov_P2 (10, 10)
Ticker         BHARTIARTL.NS  HDFCBANK.NS  HINDUNILVR.NS   INFY.NS    ITC.NS  \
Ticker
BHARTIARTL.NS       0.000524     0.000192       0.000113  0.000142  0.000158
HDFCBANK.NS         0.000192     0.000450       0.000099  0.000176  0.000156
HINDUNILVR.NS       0.000113     0.000099       0.000315  0.000145  0.000099
INFY.NS             0.000142     0.000176       0.000145  0.000403  0.000118
ITC.NS              0.000158     0.000156       0.000099  0.000118  0.000443
LT.NS               0.000182     0.000262       0.000108  0.000161  0.000178
MARUTI.NS           0.000197     0.000253       0.000149  0.000192  0.000141
RELIANCE.NS         0.000164     0.000251       0.000170  0.000201  0.000155
SBIN.NS             0.000217     0.000334       0.000102  0.000177  0.000267
TCS.NS              0.000133     0.000135       0.000125  0.000256  0.000108

Ticker            LT.NS  MARUTI.NS  RELIANCE.NS   SBIN.NS    TCS.NS
Ticker
BHARTIARTL.NS  0.000182   0.000197     0.000164  0.000217  0.000133
HDFCBANK.NS    0.000262   0.000253     0.000251  0.000334  0.000135
HINDUNILVR.NS  0.000108   0.000149     0.000170  0.000102  0.000125
INFY.NS        0.000161   0.000192     0.000201  0.000177  0.000256
ITC.NS         0.000178   0.000141     0.000155  0.000267  0.000108
LT.NS          0.000459   0.000259     0.000207  0.000330  0.000121
MARUTI.NS      0.000259   0.000581     0.000281  0.000285  0.000175
RELIANCE.NS    0.000207   0.000281     0.000569  0.000268  0.000193
SBIN.NS        0.000330   0.000285     0.000268  0.000687  0.000148
TCS.NS         0.000121   0.000175     0.000193  0.000148  0.000331

In [41]:

var1, w1 = optimise(cov_P1_annual, tickers)
print(w1)

print("a", var1, w1)

def regularised_optimise(cov_annual, lambd):
    subset = tickers
    w = cp.Variable(len(subset))
    subset = list(subset)
    sub_cov = cov_annual.loc[subset, subset].to_numpy()
    one = np.ones(len(subset))

    objective = cp.Minimize(w.T@cov_annual@w + lambd * cp.norm(w - w1, 1))
    constraints = [w[i] >= 0 for i in range(len(subset))]
    constraints.append(w.T@one == 1)

    prob = cp.Problem(objective, constraints)

    return prob.solve(), w.value
    
#0.1, 1
lambdas = [0, 0.01, 0.1, 1]

new_weights = []
turnover = []
out_sample_mean = []
out_sample_var = []
for lambd in lambdas:
    var, w = regularised_optimise(cov_P2_annual, lambd)
    new_weights.append(w)
    turnover.append(np.linalg.norm(w - w1, ord = 1))

    out_sample_mean.append(w.T @ mean_out_B_annual)
    out_sample_var.append(w.T @ cov_out_B_annual @ w)

print("out_sample_mean",out_sample_mean)
print("out_sample_var", out_sample_var)
print("turnover", turnover)
print("new_weights", new_weights)

[1.16830265e-01 1.59511399e-01 6.65696886e-02 2.98293954e-01
 1.10969116e-01 4.14233683e-04 1.61585520e-01 2.55463128e-23
 5.20843885e-02 3.37414347e-02]
a 0.015000607704940966 [1.16830265e-01 1.59511399e-01 6.65696886e-02 2.98293954e-01
 1.10969116e-01 4.14233683e-04 1.61585520e-01 2.55463128e-23
 5.20843885e-02 3.37414347e-02]
out_sample_mean [np.float64(0.17724646582653963), np.float64(0.1374528419399592), np.float64(0.13311030393984574), np.float64(0.1331103039398457)]
out_sample_var [np.float64(0.01854638155428944), np.float64(0.019547941778116234), np.float64(0.021620966660654314), np.float64(0.021620966660654307)]
turnover [np.float64(1.1788043040749292), np.float64(0.48076605870719025), np.float64(2.1238877426155834e-16), np.float64(3.717562059961506e-18)]
new_weights [array([ 8.65817815e-02,  9.91676349e-02,  3.10216674e-01,  1.31540167e-02,
        1.61857099e-01,  8.67175666e-02, -2.07658448e-08, -2.78152186e-08,
       -8.70655213e-09,  2.42305286e-01]), array([ 1.16830265e-01,  1.59511399e-01,  2.50106703e-01,  2.00771540e-01,
        1.31713396e-01,  4.14233683e-04,  6.26173076e-02, -2.86398829e-23,
        8.19198607e-03,  6.98431688e-02]), array([1.16830265e-01, 1.59511399e-01, 6.65696886e-02, 2.98293954e-01,
       1.10969116e-01, 4.14233683e-04, 1.61585520e-01, 9.31773290e-18,
       5.20843885e-02, 3.37414347e-02]), array([ 1.16830265e-01,  1.59511399e-01,  6.65696886e-02,  2.98293954e-01,
        1.10969116e-01,  4.14233683e-04,  1.61585520e-01, -1.49492206e-18,
        5.20843885e-02,  3.37414347e-02])]

In [42]:
# Part C

In [43]:
# Mean Sensitivity
def perturb(vec, delta):
    eps = np.random.uniform(-delta, delta, size = vec.shape)
    return vec * (1 + eps)

perturbed_mean = perturb(mean_annual_out, 0.075)

In [44]:
subset_vars, opt_wts = subset_opt(cov_annual_out , optimise)

print(subset_vars)
print(opt_wts[-1])
print(opt_wts)

Computing 10 combinations for k = 1 ...
0.0494175367973522 1 ('TCS.NS',)
Computing 45 combinations for k = 2 ...
0.030811807099563472 2 ('ITC.NS', 'TCS.NS')
Computing 120 combinations for k = 3 ...
0.025762537774440583 3 ('HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 210 combinations for k = 4 ...
0.023423121726392184 4 ('BHARTIARTL.NS', 'HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 252 combinations for k = 5 ...
0.02256649065310005 5 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 210 combinations for k = 6 ...
0.022160116616529696 6 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 120 combinations for k = 7 ...
0.021917999334663305 7 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'MARUTI.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 45 combinations for k = 8 ...
0.021826789699290944 8 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'MARUTI.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 10 combinations for k = 9 ...
0.021823597244142828 9 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'LT.NS', 'MARUTI.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 1 combinations for k = 10 ...
0.021823597244142828 10 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'LT.NS', 'MARUTI.NS', 'RELIANCE.NS', 'SBIN.NS', 'TCS.NS')
[np.float64(0.0494175367973522), np.float64(0.030811807099563472), np.float64(0.025762537774440583), np.float64(0.023423121726392184), np.float64(0.02256649065310005), np.float64(0.022160116616529696), np.float64(0.021917999334663305), np.float64(0.021826789699290944), np.float64(0.021823597244142828), np.float64(0.021823597244142828)]
[5.33377612e-02 1.71088497e-01 7.54189384e-02 8.58176486e-02
 1.92607309e-01 9.19572116e-03 2.23938816e-01 9.88604009e-24
 1.26501436e-01 6.20938711e-02]
[array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0.]), array([0.        , 0.53125876, 0.        , 0.        , 0.46874124,
       0.        , 0.        , 0.        , 0.        , 0.        ]), array([0.        , 0.35617726, 0.        , 0.        , 0.3318397 ,
       0.        , 0.31198303, 0.        , 0.        , 0.        ]), array([0.        , 0.27415244, 0.        , 0.        , 0.25778154,
       0.        , 0.27776767, 0.        , 0.19029834, 0.        ]), array([0.        , 0.23769387, 0.        , 0.12980975, 0.22618698,
       0.        , 0.25045074, 0.        , 0.15585866, 0.        ]), array([0.        , 0.21598489, 0.08683615, 0.10803954, 0.20425753,
       0.        , 0.24235615, 0.        , 0.14252575, 0.        ]), array([0.        , 0.21136352, 0.07953316, 0.0932767 , 0.19754235,
       0.        , 0.22467189, 0.        , 0.12966046, 0.06395192]), array([0.05532816, 0.17193369, 0.07658138, 0.08756339, 0.19394238,
       0.        , 0.22364573, 0.        , 0.12742916, 0.06357611]), array([0.05333776, 0.1710885 , 0.07541894, 0.08581765, 0.19260731,
       0.00919572, 0.22393882, 0.        , 0.12650144, 0.06209387]), array([5.33377612e-02, 1.71088497e-01, 7.54189384e-02, 8.58176486e-02,
       1.92607309e-01, 9.19572116e-03, 2.23938816e-01, 9.88604009e-24,
       1.26501436e-01, 6.20938711e-02])]

In [45]:
#Same weights

In [47]:
def perturb_offdiag(cov, delta):
    cov = np.array(cov, dtype = float)
    perturbed_cov = cov.copy()
    n = cov.shape[0]
    for i in range(n):
        for j in range(i+1, n):
            factor = 1 + np.random.uniform(-delta, delta)
            perturbed_cov[i, j] *= factor
            perturbed_cov[j, i] = perturbed_cov[i, j]
    return perturbed_cov

cov_perturbed = perturb_offdiag(cov_annual_out, 0.1)

subset_vars_pert, opt_wts_pert = subset_opt(cov_annual_out , optimise)

#percentage change in weights
change = 0
for k in range(1,11):
    change += (opt_wts_pert[k-1] - opt_wts[k-1])/(opt_wts[k-1])

print(change/10)

Computing 10 combinations for k = 1 ...
0.0494175367973522 1 ('TCS.NS',)
Computing 45 combinations for k = 2 ...
0.030811807099563472 2 ('ITC.NS', 'TCS.NS')
Computing 120 combinations for k = 3 ...
0.025762537774440583 3 ('HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 210 combinations for k = 4 ...
0.023423121726392184 4 ('BHARTIARTL.NS', 'HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 252 combinations for k = 5 ...
0.02256649065310005 5 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'TCS.NS')
Computing 210 combinations for k = 6 ...
0.022160116616529696 6 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 120 combinations for k = 7 ...
0.021917999334663305 7 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'ITC.NS', 'MARUTI.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 45 combinations for k = 8 ...
0.021826789699290944 8 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'MARUTI.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 10 combinations for k = 9 ...
0.021823597244142828 9 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'LT.NS', 'MARUTI.NS', 'RELIANCE.NS', 'TCS.NS')
Computing 1 combinations for k = 10 ...
0.021823597244142828 10 ('BHARTIARTL.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INFY.NS', 'ITC.NS', 'LT.NS', 'MARUTI.NS', 'RELIANCE.NS', 'SBIN.NS', 'TCS.NS')
[nan  0. nan nan nan nan nan nan nan nan]